<!DOCTYPE html>
<html>
	<head>

		<title>Update Subject</title>

	</head>

	<body>

		<div id="wrapper">
			<div id="header">
				<h2>SRM - Subject Relationship Manager</h2>
			</div>
		</div>

		<div id="container">
			<h3>Update Subject</h3>

            <form action="" method="post">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <input type="submit" value="Update Subject">
            </form>

			<p>
				<a href="{% url 'show_subjects' %}">Back to List</a>
			</p>
		</div>
	</body>
</html>